.footer__links {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  @media screen and (max-width: 320px) {
    .footer__links {
      flex-direction: column;
      margin: 0;
      max-width: 720px;
      margin-left: 16px;
      padding: 0;
    }
  }