.place__paragraph {
    padding: 0;
    margin-top: 0;
    margin-bottom: 24px;
    color: #fff;
    font-style:  normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
  }

  .place__paragraph:nth-child(2){
    margin-bottom: 0;
  }

  @media screen and (max-width: 1024px) {
    .place__paragraph {
    font-size: 18px;
    line-height: 163%;
    max-width: 456px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__paragraph {
    font-size: 16px;
    max-width: 352px;
    }
  }

  @media screen and (max-width: 425px) {
    .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
    }
  }
  